<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/MagentoFramework/App/etc/routes.xsd">
    <router id="standard">
        <route id="points" frontName="points">
            <module name="AppName_RewardPoints" />
        </route>
    </router>
</config>