<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="AppName_RewardPoints::main_menu" title="Reward Points" module="AppName_RewardPoints" sortOrder="20" resource="AppName_RewardPoints::rewardpoints" parent="Magento_Backend::AppName" />
        <add id="AppName_RewardPoints::configuration" title="Configurations" module="AppName_RewardPoints" sortOrder="2" parent="AppName_RewardPoints::main_menu" action="adminhtml/system_config/edit/section/rewardpoints" resource="AppName_RewardPoints::configuration" />
    </menu>
</config>