<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="AppName_LeaderBoard::leaderboard" title="LeaderBoard" module="AppName_LeaderBoard" sortOrder="20" resource="AppName_LeaderBoard::leaderboard"   parent="Magento_Backend::AppName"/>
        <add id="AppName_LeaderBoard::configuration" title="Configurations" module="AppName_LeaderBoard" sortOrder="2" parent="AppName_LeaderBoard::leaderboard" action="adminhtml/system_config/edit/section/leaderboard" resource="AppName_LeaderBoard::configuration" />
    </menu>
</config>